.opinion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.opinion-card {
    width: 300px; 
    max-width: 100%; 

}
.added-on {
    font-style: italic;
    color: #888;
    margin-top: 8px;
}