<div class="hotel-manage-container" *ngIf="hotel;">
    <mat-card class="hotel-card"></mat-card>
        <h3>Details</h3>
        <p>City: {{hotel.city}}</p>
        <p>Country: {{hotel.country}}</p>
        <p>Hotel Type: {{ hotel.hotelType }}</p>
        <p>Address: {{ hotel.street }}, {{ hotel.zipCode }}</p>
        <p>Email: {{ hotel.emailAddress }}</p>
        <p>Phone: {{ hotel.phoneNumber }}</p>
        <p>Description: {{hotel.description}}</p>
        <h3>Managers</h3>
        <table border="1">       
        <tr *ngFor="let manager of hotelManagers">
            <td>
                {{manager.name}} {{manager.lastName}} [{{manager.email}}] 
            </td>
              <td>
                  <button class="remove-manager-button">Remove manager from this hotel</button>
              </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <h3>Rooms</h3>
      <mat-grid-list cols="3" rowHeight="2:1">
           <mat-grid-tile *ngFor="let room of hotel.rooms">
      <img class="selectable" [src]="room.coverImage" (click)="onManageRoomClicked(room.roomId)"><br>
      </mat-grid-tile>
      </mat-grid-list>
    <mat-divider></mat-divider>
</div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>