.remove-manager-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
  }
  
  .remove-manager-button:hover {
    background-color: #b71c1c;
  }
  .selectable{
    cursor: pointer;
  }
  .form-button {
    background-color: #f5f5f5; /* Biały kolor tła przycisku */
    color: #333333; /* Ciemny kolor tekstu */
    border: none; /* Brak obramowania */
    padding: 10px 20px; /* Wewnętrzne odstępy */
    font-size: 16px; /* Rozmiar tekstu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    transition: background-color 0.3s ease, color 0.3s ease; /* Płynne przejścia */
}

.form-button:hover {
    background-color: #f0f0f0; /* Jasny kolor tła po najechaniu */
    color: #555555; /* Ciemniejszy kolor tekstu po najechaniu */
}

.finish-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.finish-icon mat-icon {
  margin-right: 8px; /* Dostosuj odstęp między ikoną a tekstem */
}
.finish-icon:hover{
  cursor: pointer;
}
.delete-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
}



.delete-button:hover {
  background-color: #b71c1c;
}
