<div class="multiple-file-input-container">
  <input type="file"  id="multiple-file-input"  class="multiple-file-input" multiple (change)="onChange($event)"/>
  <label class="multiple-file-input-label" for="multiple-file-input">Select Files</label>
</div>


<div *ngIf="images.length" class="file-section">
  <section *ngFor="let images of images">
    File details:
    <ul>
      <li>Name: {{images.name}}</li>
      <li>Type: {{images.type}}</li>
      <li>Size: {{images.size}} bytes</li>
    </ul>
  </section>

  <h3>Click button bellow to start uploading</h3>
  <button (click)="onUpload()" class="upload-button" [disabled]="!images">Upload the images</button>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
    <p *ngSwitchCase="'success'">✅ Done!</p>
    <p *ngSwitchCase="'fail'">❌ Something went wrong! Try again</p>
    <p *ngSwitchDefault>😶 Waiting to upload...</p>
  </section>
</div>