<div class="container">
  <div class="left-panel">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search hotel</mat-label>
        <input matInput name="searchHotel" [(ngModel)]="searchPhrase" #message maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Sort by</mat-label>
        <mat-select [(ngModel)]="sortBy" name="sortBy">
          <mat-option value="city">City</mat-option>
          <mat-option value="country">Country</mat-option>
          <mat-option value="nameHotel">Name</mat-option>
          <mat-option value="rating">Rating</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Sort order</mat-label>
        <mat-select [(ngModel)]="sortDirection" name="sortDirection" [ngModelOptions]="{standalone: true}">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button class="mat-button mat-button-base mat-flat-button mat-primary" (click)="searchHotels()">Search</button>
    </form>
  </div>

  <div *ngIf="result?.items?.length == 0" class="error-message">
    Ooops... We did not find any available places for Your searching criteria.
  </div>

  <div class="right-panel">
    <div class="card-container">
      <div class="selectable" *ngFor="let h of result?.items" [app-hotel-row]="h" (click)="redirectToHotelDetails(h.hotelId)"></div>
    </div>
  </div>
</div>

<mat-paginator [length]="result?.totalItemsCount"
  [pageSize]="pageSizeOptions[0]"
  (page)="handlePageEvent($event)"
  [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
