<div class="container">
  <div class="left-panel">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search hotel</mat-label>
        <input matInput name="searchHotel" [(ngModel)]="searchPhrase" #message maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Minimal price</mat-label>
        <input matInput type="number" name="secondInput" ngModel="minPrice" min="0" #secondMessage maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Maximum price</mat-label>
        <input matInput type="number" name="thirdInput" ngModel="maxPrice" min="0" #thirdMessage maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Number of rooms</mat-label>
        <input matInput type="number" name="fourthInput" [(ngModel)]="numberOfRooms" min="0" #fourthMessage maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Number of kids</mat-label>
        <input matInput type="number" name="fourthInput" [(ngModel)]="numberOfKids" min="0" #fourthMessage maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Number of adults</mat-label>
        <input matInput type="number" name="fifthInput" [(ngModel)]="numberOfAdults" min="0" #fifthMessage maxlength="256">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Stars</mat-label>
        <input matInput type="number" name="sixthInput" [(ngModel)]="stars" min="1" max="5" #sixthMessage maxlength="256">
      </mat-form-field>

      <button mat-flat-button class="mat-button mat-button-base mat-flat-button mat-primary">Filter</button>
    </form>
  </div>

  <div *ngIf="result?.items?.length == 0" class="error-message">
    Ooops... We did not find any available places for Your searching criteria.
  </div>

  <div class="right-panel">
    <div class="card-container">
      <div class="selectable" *ngFor="let h of result?.items" [app-hotel-row]="h" (click)="redirectToHotelDetails(h.hotelId)"></div>
    </div>
  </div>
</div>



<mat-paginator [length]="result?.totalItemsCount"
  [pageSize]="pageSizeOptions[0]"
  (page)="handlePageEvent($event)"
  [pageSizeOptions]="pageSizeOptions">
</mat-paginator>