.book-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
  }
  
  .book-button:hover {
    background-color: #004d40;
  }
  .room-details-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .room-card {
    max-width: 800px;
    width: 100%;
  }
  
  mat-card-title,
  mat-card-subtitle {
    text-align: center;
  }
  
  mat-grid-list {
    margin-top: 10px;
  }
  
  mat-grid-tile img {
    width: 100%;
    height: auto;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
  }
  
  .book-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
  }
  
  .book-button:hover {
    background-color: #004d40;
  }
  
  
  .error-message {
    color: #d32f2f;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  
  .error-card {
    margin: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
  }

  
  .error-message {
    color: red; /* To make the error message noticeable */
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
    margin-top: 10px; /* Add some spacing above the error message */
    display: block; /* Ensure the error message is displayed as a block element */
}