<nav class="navbar">
    <ul class="nav-list">
        <li><a href="">Home</a></li>
        <li *ngIf="this.isUserAuthenticated()"><a href="/account">Account</a></li>
        <li><a routerLink="hotels">Hotels</a></li>
        <li *ngIf="this.canUserManageHotel()"><a routerLink="management/hotels">Manage hotels</a></li>
        <li *ngIf="this.isUserAuthenticated()"><a href="/history">Reservations</a></li>
        <li *ngIf="this.isUserAuthenticated()"><a href="/opinions">Your opinions</a></li>
        <li *ngIf="this.isUserAdmin()"><a href="/panel">Admin panel</a></li>
    </ul>

    <div class="login-container">
            <label *ngIf="this.getUserName() != null">Hi, {{this.getUserName()}}</label>
            <button *ngIf="!this.isBasketEmpty()" class="icon-button" (click)="navigateToCart()"><i class="material-icons" style="margin-left: 10px;">shopping_cart</i></button>
            <button *ngIf="!this.isUserAuthenticated()" class="login-button" routerLink="/login">Sign in</button>
            <button *ngIf="!this.isUserAuthenticated()" class="login-button" routerLink="/register">Register</button>
            <button *ngIf="this.isUserAuthenticated()" class="login-button" (click)="logOut()">Log out</button>
    </div>
</nav>


  
<router-outlet></router-outlet>