.center-form {
    background: linear-gradient(135deg, #ffffff, #f0f0f0); /* Gradient kątowy od białego do jasnoszarego */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33%; /* Umieszczenie formularza na 1/3 wysokości strony */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Szerokość całego formularza */
    max-width: 400px; /* Maksymalna szerokość formularza */
    padding: 20px;
    box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Rozłożenie elementów w rzędzie */
    margin-bottom: 10px; /* Margines na dole każdego rzędu */
    width: 100%; /* Szerokość rzędu równa szerokości formularza */
  }
  
  .full-width {
    flex: 1; /* Rozciąganie elementu na całą dostępną szerokość */
    margin-right: 10px; /* Margines na prawej stronie każdego elementu */
  }
  
  .half-width {
    flex: 1; /* Rozciąganie elementu na połowę dostępnej szerokości */
    margin-right: 10px; /* Margines na prawej stronie każdego elementu */
  }
  
  button {
    width: 49%; /* Szerokość przycisków */
  }
  
  button:first-child {
    margin-right: 2%; /* Margines na prawej stronie pierwszego przycisku */
  }
  

.form-button {
    background-color: #f5f5f5; /* Biały kolor tła przycisku */
    color: #333333; /* Ciemny kolor tekstu */
    border: none; /* Brak obramowania */
    padding: 10px 20px; /* Wewnętrzne odstępy */
    font-size: 16px; /* Rozmiar tekstu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
    transition: background-color 0.3s ease, color 0.3s ease; /* Płynne przejścia */
}

.form-button:hover {
    background-color: #f0f0f0; /* Jasny kolor tła po najechaniu */
    color: #555555; /* Ciemniejszy kolor tekstu po najechaniu */
}

body {
    background-color: #f0f0f0; /* Jasny kolor tła */
    margin: 0;
    padding: 0;
    height: 100vh; /* Ustawienie wysokości na całą wysokość widoku */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Ustawienie rodziny czcionek */
  }
