<body>

  <form #searchingHotelsForm="ngForm" class="center-form">

    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput name="searchHotel" [(ngModel)]="searchPhrase">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Number of kids</mat-label>
        <input 
        matInput type="number" 
        name="numberOfKids" 
        [min]="0" 
        [(ngModel)]="numberOfKids"
        required>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Number of adults</mat-label>
        <input 
        matInput type="number" 
        name="numberOfAdults" 
        [min]="0" 
        [(ngModel)]="numberOfAdults"
        required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Number of rooms</mat-label>
        <input 
        matInput type="number" 
        name="numberOfRooms" 
        [min]="1" 
        [(ngModel)]="numberOfRooms"
        required>
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="minDate">
          <input matStartDate formControlName="start" placeholder="Check In Date">
          <input matEndDate formControlName="end" placeholder="Check Out Date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <button type="button" id="clear" class="form-button" (click)="resetForm()">Clear</button>
      <button type="submit" id="submit" [disabled]="searchingHotelsForm.invalid" class="form-button" (click)="search()">Search</button>
    </div>
  
  </form>

</body>
